div#colonne1 {
    width: 15%;
    background: lightblue;
    position: absolute;
    top: 0;
    left: 0;
    width:15%;
    height: 100vh;
}

div#colonne2 {
    width: 42.5%;
    background: burlywood;
    position: absolute;
    height: 100vh;
    right: 0;
    top: 0;
}

div#centre {
    background: khaki;
    position: absolute;
    height: 100vh;
    left: 15%;
    width: 42.5%;
    top: 0;
}



body{
    overflow: hidden;
}

.optionForm {
    margin: 1em;
    border: 1px solid black;
    padding-top: 5%;
}

form#dropper
{
    margin: 1em;
    border: 1px solid black;
    height: 92%;
    background:rgba(255, 174, 0, 0.384);
    padding-top: 2%;
    padding-left: 3%;
    overflow-y: scroll;
    padding-right: 3%;
}

.panneauConfig
{
    margin: 1em;
    border: 1px solid black;
    height: 92%;
    background:rgba(199, 150, 59, 0.884);
    padding-top: 2%;
    padding-left: 3%;
    overflow-y: scroll;
    padding-right: 3%;
}

.champForm
{
    border: 1px solid black;
    padding-top: 2%;
    padding-left: 3%;
}

.space
{
    height: 2%;
}